[submodule "getting_familiar"]
	path = getting_familiar
	url = https://github.com/acejang1994/getting_familiar.git
[submodule "warmup_project"]
	path = warmup_project
	url = https://github.com/acejang1994/warmup_project.git
[submodule "robot_localization"]
	path = robot_localization
	url = https://github.com/acejang1994/robot_localization.git
[submodule "computer_vision"]
	path = computer_vision
	url = https://github.com/acejang1994/computer_vision.git
